// Font Related Variables
$app-font-family: "Bitter", serif;

// Colors
$primary-color: #ef6138;
$secondary-color: #2b3648;

$primary-tint-1: #f1714c;
$primary-tint-2: #f28160;
$primary-tint-3: #f49074;
$primary-tint-4: #f5a088;
$primary-tint-5: #f7b09c;

$secondary-tint-1: #404a5a;
$secondary-tint-2: #555e6d;

$white: #ffffff;
$black: #000000;

$black-tint-1: #111111;
$black-tint-2: #222222;
$black-tint-3: #333333;
$black-tint-4: #444444;
$black-tint-5: #555555;
$black-tint-6: #666666;
$black-tint-7: #777777;
