@use "../abstracts/variables" as *;

.search-field {
  width: 30%;

  input {
    border: 0.0625rem solid $primary-color;
    border-radius: 10rem 0 0 10rem;
    font-weight: 500;
  }

  .search-icon-container {
    background-color: $primary-color;
    border-radius: 0 10rem 10rem 0;
    cursor: pointer;
    transition: all 0.35s;

    .search-icon {
      width: 3rem;
      height: 1.5rem;

      path {
        fill: $white;
      }
    }

    &:hover {
      background-color: $primary-tint-1;
    }
  }
}

@media (max-width: 78em) {
  .search-field {
    width: 50%;
  }
}

@media (max-width: 34rem) {
  .search-field {
    width: 100%;
  }
}
